{{define "greet"}}
    {{template "header"}}
    <body class="grey darken-3">
        <div class="container grey lighten-5">
            <div class="row">
                <h1 class="center">olá esse é nossa imagem docker go com CRUD</h1>
            </div>
            <div class="row">
                <div class="row">
                    <h5 class="col s4 offset-s4">A equipe é composta por</h5>
                </div>
                <h4 class="col s4">Iago de Aquino Olivera</h4>
                <h4 class="col s4 offset-s4">José Alexandre Muniz</h4>
                <h4 class="col s4">Luan Lima</h4>
                <h4 class="col s4 offset-s4">Rayan Victor</h4>
            </div>
            <div class="row">
                <a class="col s4 offset-s4 light-blue darken-2 btn" href="show"><div>ACESSAR BANCO</div></a>
            </div>
        </div>
    </body>
{{end}}